<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration 
DTD//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibertane.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>
		<property name="hibernate.connection.driver_class" value="org.postgresql.Driver"></property>		
		<property name="hibernate.connection.url" value="jdbc:postgresql://localhost:5432/fj26"></property>
		<property name="hibernate.connection.username" value="caelum"></property>
		<property name="hibernate.connection.password" value="caelum"></property>			
		<property name="hibernate.show_sql" value="true"></property>
		<property name="hibernate.show_format_sql" value="true"></property>
		<mapping class="br.com.caelum.fj26.Funcionario"/>
	</session-factory>
</hibernate-configuration>
